@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 62px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.nav {
  height: 60px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.nav .section-one {
  display: flex;
  gap: 30px;
}

.nav .section-one a {
  text-decoration: none;
  color: #1865f2;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.nav .section-one .form-control {
  background-color: #eff0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav .section-one .form-control input {
  border: none;
  background-color: transparent;
}

.nav .section-one .form-control input::placeholder {
  color: #1865f2;
  font-weight: 500;
}

.nav .section-two span {
  font-weight: 500;
  font-size: 18px;
}

.nav .section-three ul {
  display: flex;
}

.nav .section-three ul li {
  list-style: none;
  padding: 10px 15px;
  color: #1865f2;
}

.nav .mobile-menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav .section-three ul li:first-child {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .nav .section-one,
  .nav .section-three {
    display: none;
  }

  .nav .section-two span {
    font-size: 20px;
  }

  .nav .mobile-menu {
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: #1865f2;
  }
}
